<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the webpage, Deepak Kumar Behera!</title>
    <link rel="stylesheet" href="/templates/style.css">
    <script src="/templates/script.js"></script>
</head>

<body>
    <div class="container">
        <h1>Welcome to the webpage,Deepak Kumar Behera!</h1>
        <div class="quote">Here's a quote for you: "The only way to do great work is to love what you do." - Steve Jobs
        </div>
        <img src="/static/images/rocket.png" alt="Rocket" class="rocket">
        <h2>Containerized Python API</h2>
        <div class="api">
            This is a containerized application that exposes a JSON API using <a href="https://fastapi.tiangolo.com/"
                target="_blank">FastAPI</a> with <a href="https://azure.microsoft.com/en-us/" target="_blank">Azure!
            </a>
        </div>
        <div class="buttons">
            <button class="btn" onclick="goToDocs()">Try it out</button>
            <button class="btn" onclick="goToApi()">API Endpoint</button>
        </div>
    </div>
</body>

</html>